<header>
    <nav>
        <a href="/">
            <h1><%- process.env.TITLE %></h1>
        </a>

        <a href="/search">
            <h4>Search</h4>
        </a>

        <a href="/follows">
            <h4>Follows</h4>
        </a>

        <a href="/authors">
            <h4>Authors</h4>
        </a>

        <a id="loginButton" href="/login">
            <h4><%- username %> </h4>
        </a>
    </nav>
</header>