<header>
    <nav>
        <a href="/">
            <h1>MangaRex</h1>
        </a>

        <a href="/search">
            <h3>Search</h3>
        </a>

        <a href="/follows">
            <h3>Follows</h3>
        </a>

        <a href="/authors">
            <h3>Authors</h3>
        </a>

        <a href="/login">
            <h3>Login</h3>
        </a>
    </nav>
</header>