<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A MangaDex alternative to read manga from while MangaDex is recovering.">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="script.js" defer></script>

        <title>Maneko</title>
    </head>

    <body>
        <div id="mainCont">
            <div id="content">
                <%- body %>
            </div>
        </div>
    </body>
</html>