<% if (typeof username === "string") { %>
    <%- include("./partials/header.ejs", { username: username }); %> 
<% } else { %>
    <%- include("./partials/header.ejs", { username: null }); %> 
<% } %>

<div class="pageContent">
    <h2>Authors</h2>
    
    <% if (typeof error === "string") { %>
        <%- include("./partials/error.ejs", { error: error }) %>
    <% } %>
</div>