<%- include("./partials/header.ejs", { username: null }); %>

<div class="pageContent">
    <h2>Login</h2>
    
    <%- include("./partials/messageGroup.ejs", { error: (typeof error !== "undefined") ? error : null, warning: (typeof warning !== "undefined") ? warning : null, info: (typeof info !== "undefined") ? info : null }) %>
    
    <form action="/login" method="post" id="loginForm">
        <div><label for="username">Username:</label></div>
        <div><input type="text" name="username" id="usernameInput" required maxlength="64" minlength="1"></div>
        <div><label for="password">Password:</label></div>
        <div><input type="password" name="password" id="passwordInput" required maxlength="1024" minlength="4"></div>
        <div><input class="button" type="submit" value="Login"></div>
    </form>
</div>