<% if (typeof username === "string") { %>
    <%- include("./partials/header.ejs", { username: username }); %> 
<% } else { %>
    <%- include("./partials/header.ejs", { username: null }); %> 
<% } %>

<div class="pageContent">
    <h2>Profile</h2>
    
    <%- include("./partials/messageGroup.ejs", { error: (typeof error !== "undefined") ? error : null, warning: (typeof warning !== "undefined") ? warning : null, info: (typeof info !== "undefined") ? info : null }) %>
</div>