:root {
    --red: hsl(340, 100%, 50%);
    --blue: hsl(188, 72%, 36%);
    --dark: hsl(338, 15%, 15%);
    --light: hsl(330, 20%, 98%);
    --gray: hsl(0, 0%, 36%);
    --light-bg: hsl(0, 100%, 100%);
    --dark-bg: hsl(0, 0%, 0%);
    --link-color: var(--blue);
    --tag-text: var(--blue);
    --tag-bg: hsla(188, 72%, 36%, 0.5);
    --excluded-tag-text: var(--red);
    --excluded-tag-bg: hsla(340, 100%, 50%, 0.4);
    --included-tag-text: var(--tag-text);
    --included-tag-bg: var(--tag-bg);
    --dark-text: var(--dark);
    --light-text: var(--light);
    --follow-bg: var(--red);
    --follow-text: var(--light);
    --unfollow-bg: transparent;
    --unfollow-text: var(--red);
    --unfollow-border: var(--red);
    --read-status-icon: var(--blue);
    --read-status-bg: var(--dark);
    --unread-status-icon: var(--gray);
    --unread-status-bg: var(--dark);
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.7em;
    font-weight: 700;
}

h3 {
    font-size: 1.4em;
    font-weight: 700;
}

h4 {
    font-size: 1.1em;
    font-weight: 700;
}

.title {
    font-size: 1.2em;
    font-weight: 700;
}

.subtitle {
    font-size: 1em;
    font-weight: 600;
}

.altName {
    font-size: 0.8em;
    font-weight: 400;
}

.description {
    font-size: 1em;
    font-weight: 400;
}

.chapterTitle {
    font-size: 1em;
    font-weight: 500;
}

a {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color: var(--link-color);
}