:root {
    --red: hsl(340, 100%, 50%);
    --blue: hsl(188, 72%, 36%);
    --dark: hsl(338, 15%, 15%);
    --light: hsl(330, 20%, 98%);
    --gray: hsl(0, 0%, 36%);
    --light-bg: hsl(0, 100%, 100%);
    --dark-bg: hsl(0, 0%, 0%);
    --link-color: var(--blue);
    --tag-text: var(--blue);
    --tag-bg: hsla(188, 72%, 36%, 0.5);
    --excluded-tag-text: var(--red);
    --excluded-tag-bg: hsla(340, 100%, 50%, 0.4);
    --included-tag-text: var(--tag-text);
    --included-tag-bg: var(--tag-bg);
    --dark-text: var(--dark);
    --light-text: var(--light);
    --follow-bg: var(--red);
    --follow-text: var(--light);
    --unfollow-bg: transparent;
    --unfollow-text: var(--red);
    --unfollow-border: var(--red);
    --read-status-icon: var(--blue);
    --read-status-bg: var(--dark);
    --unread-status-icon: var(--gray);
    --unread-status-bg: var(--dark);
    --error-bg: var(--excluded-tag-bg);
    --error-text: var(--red);
    --content-bg: hsl(0, 0%, 98%);

    --border-rad: 0.3rem;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.7em;
    font-weight: 700;
}

h3 {
    font-size: 1.3em;
    font-weight: 700;
}

h4 {
    font-size: 1em;
    font-weight: 700;
}

.title {
    font-size: 1.2em;
    font-weight: 700;
}

.subtitle {
    font-size: 1em;
    font-weight: 600;
}

.altName {
    font-size: 0.8em;
    font-weight: 400;
}

.description {
    font-size: 1em;
    font-weight: 400;
}

.chapterTitle {
    font-size: 1em;
    font-weight: 500;
}

a {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color: var(--link-color);
}

.error {
    background-color: var(--error-bg);
    color: var(--error-text);
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: var(--border-rad);
}

.error strong {
    padding-right: 1.5em;
}

.followButton {
    width: auto;
    height: 2rem;
}

#mainCont {
    display: flex;
    position: static;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#content {
    display: block;
    height: 100%;
    width: clamp(45ch, 70%, 100%);
    background-color: var(--content-bg);
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 1rem;
    width: auto;
    gap: 2rem;
}

#loginButton {
    margin-left: auto;
}